---
BasedOnStyle: LLVM
AllowAllArgumentsOnNextLine: 'true'
AllowAllConstructorInitializersOnNextLine: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'true'
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    SplitEmptyFunction: false
ColumnLimit: '120'
IndentWidth: '4'
AlwaysBreakTemplateDeclarations: 'Yes'

...
